<html>
    <head>
        <title>
            Customer
        </title>
    </head>
    <body>
        <form action="/index/" method="POST">
            
            <center><button type="submit" name="register" style="background-color:azure; margin-left:auto; margin-right:auto; display:block; margin-top:22%;margin-bottom:0%; height: 50; width: 100;">Register</button>&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="submit" name="login" style="background-color:azure;margin-left:auto; margin-right:auto; display:block;margin-bottom:0%; height: 50; width: 100;">login</button>
            </center>
        </form>
    </body>
</html>